extend ../layout/common
block content
        .container
            h1 Products list
            .row(style='display: grid;grid-template-columns:repeat(4, 1fr);grid-gap: 16px;')
                mixin article(val)
                    .col
                        .card.my-4(style='width: 15rem; height: 450px')
                            img.card-img-top(src=val.avata, alt='girl xinh')
                            .card-body
                                h5.card-title #{val.name}
                                p.card-text
                                | #{val.description}
                each pro in products
                    +article(pro)

            nav(aria-label='Page navigation example')    
            ul.pagination.d-flex.justify-content-center
                li.page-item
                    a.page-link(href='#') Previous
                - var i = 1;
                while i <= totalPage
                    li.page-item
                        a.page-link(href=`?page=${i}`)= i++
                li.page-item
                    a.page-link(href='#') Next


