extend ../layout/common
block content
    .container.mt-5
        h1 Login
        if error
            each val in error 
                .alert.alert-danger=val
        form(action='/login', method='post')
            .form-group
                label(for='exampleInputEmail1') Name
                input#exampleInputEmail1.form-control(type='text', name='name', value=name)
                small#emailHelp.form-text.text-muted Require.
            .form-group
                label(for='exampleInputPassword1') PassWord
                input#exampleInputPassword1.form-control(type='password', name='password', value=password)
            .form-group.form-check
                button.btn.btn-primary(type='submit') Login

